<html>
  <head>
    <style>
      .red {
        color: red;
      }
      .pink {
        color: pink;
      }
      .green {
        color: green;
      }
    </style>
  </head>
  <body>
    <p class="<%= colour %>">
      <%= message %>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>